# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Ambientes virtuais
.venv/
Venv/
venv/
env/

# Variaveis de ambiente
.env

# Cache do pytest
.pytest_cache/
pytest-cache-files-*/

# Arquivos temporarios
.tmp/

# IDEs
.vscode/
.idea/

# Builds e distribuicao
dist/
build/
*.egg-info/
